@import url(./fonts.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --RR: "Roboto-Regular";
  --RB: "Roboto-Bold";
  --XS: 1rem;
  --MD: 1.125rem;
  --LG: 1.188rem;
  --XL: 1.375rem;
  --Primary: #ef4423;
  --Secondary: #3a3838;
  --Gray: #ededed;
  --Light: #ffffff;
}

/* HEADER START */

.page-header {
  padding-block: 20px 15px;
}

.container {
  max-width: 1150px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  width: 150px;
}

.site-logo {
  width: 100%;
}

.header-nav {
  display: flex;
  column-gap: 15px;
  transition: 0.4s;
}

.header-nav_link {
  color: var(--Secondary);
  font-family: var(--RB);
  font-size: var(--MD);
  transition: 0.4s;
}

.header-nav_link:hover {
  color: var(--Primary);
}

.burger-menu {
  width: 30px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.burger-menu span {
  width: 100%;
  height: 2px;
  background-color: var(--Secondary);
  position: relative;
  transition: 0.4s;
}

.burger-menu span::after {
  width: 100%;
  height: 100%;
  background-color: var(--Secondary);
  position: absolute;
  content: "";
  top: 10px;
  transition: 0.4s;
}

.burger-menu span::before {
  width: 100%;
  height: 100%;
  background-color: var(--Secondary);
  position: absolute;
  content: "";
  bottom: 10px;
  transition: 0.4s;
}

.burger-menu.show span {
  background-color: transparent;
}

.burger-menu.show span::after {
  top: 0;
  transform: rotate(-45deg);
}

.burger-menu.show span::before {
  top: 0;
  transform: rotate(45deg);
}

/* HEADER END */

/* BANNER START */

.banner {
  padding-bottom: 36px;
}

.banner-img {
  max-width: 1110px;
  width: 100%;
}

/* BANNER END */

/* CARDS START */

.cards-container {
  max-width: 1440px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.cards-content{
  display: flex;
}

.a-card {
  max-width: 350px;
  width: 100%;
  height: 380px;
  background-color: #b71c1c;
}

.a-card_info {
  padding: 8px 15px 15px;
  background-color: #b71c1c;
  max-width: 350px;
  width: 100%;
  height: 180px;
}

.card-title {
  color: var(--Light);
  font-family: var(--RB);
  font-size: var(--LG);
  margin-bottom: 8px;
}

.card-text {
  color: var(--Gray);
  font-family: var(--RR);
  font-size: var(--XS);
}

.b-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.b-card_info {
  padding: 8px 15px 15px;
  background-color: #6a1b9a;
  max-width: 350px;
  width: 100%;
  height: 205px;
}

.b {
  background-color: #6a1b9a;
}

.b-img {
  width: 350px;
  height: 175px;
}

.c-card {
  max-width: 350px;
  width: 100%;
  height: 380px;
  background-color: #303f9f;
}

.c-card_info {
  padding: 8px 15px 15px;
  background-color: #303f9f;
  max-width: 350px;
  width: 100%;
  height: 180px;
}

.d {
  background-color: #00695c;
}

/* CARDS END */
