@media (max-width: 1420px) {
  .cards-container {
    max-width: 1240px;
    width: 100%;
  }
  .a-card,
  .c-card {
    max-width: 300px;
    height: 355px;
  }

  .a-card_info,
  .c-card_info {
    max-width: 300px;
    height: 205px;
  }

  .a-img,
  .c-img {
    max-width: 320px;
    height: 150px;
  }

  .card-title {
    font-size: 16px;
    margin-bottom: 6px;
  }

  .card-text {
    font-size: 14.5px;
  }
  .b-card {
    max-width: 300px;
    width: 100%;
    height: 359px;
  }
  .b-card_info {
    max-width: 300px;
    height: 205px;
  }
  .b-img {
    max-width: 320px;
    width: 100%;
    height: 154px;
  }
}

@media (max-width: 1200px) {
  .card-title {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .card-text {
    font-size: 12.5px;
  }
  .a-card,
  .c-card {
    width: 280px;
    height: 320px;
  }
  .a-card_info,
  .c-card_info {
    width: 100%;
    height: 170px;
    padding: 6.5px 12px 12px;
  }
  .a-img,
  .c-img {
    width: 100%;
    height: 150px;
  }
  .b-card {
    width: 280px;
    height: 324px;
  }
  .b-card_info {
    width: 100%;
    height: 170px;
    padding: 6.5px 12px 12px;
  }
  .b-img {
    width: 100%;
    height: 150px;
  }
  .cards-container {
    max-width: 1160px;
    width: 100%;
  }
}

@media (max-width: 1090px) {
  .card-title {
    font-size: 12.5px;
    margin-bottom: 5px;
  }

  .card-text {
    font-size: 10px;
  }
  .a-card,
  .c-card {
    width: 250px;
    height: 285px;
  }
  .a-card_info,
  .c-card_info {
    width: 100%;
    height: 140px;
    padding: 4px 10px 10px;
  }
  .a-img,
  .c-img {
    width: 100%;
    height: 145px;
  }
  .b-card {
    width: 250px;
    height: 289px;
  }
  .b-card_info {
    width: 100%;
    height: 140px;
    padding: 4px 10px 10px;
  }
  .b-img {
    width: 100%;
    height: 150px;
  }
  .cards-container {
    max-width: 1040px;
  }
}

@media (max-width: 1000px) {
  .header-nav_link {
    font-size: 16px;
  }
}

@media (max-width: 900px) {
  .header-nav_link {
    font-size: 14px;
  }
  .logo-link {
    width: 130px;
  }
}

@media (max-width: 800px) {
  .header-nav_link {
    font-size: 12px;
  }
  .logo-link {
    width: 115px;
  }
}

@media (max-width: 768px) {
  .header-nav {
    position: absolute;
    background-color: var(--Gray);
    left: -100%;
    top: 0;
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
  }
  .header-nav.active {
    left: 0;
  }
  .header-nav_link {
    padding: 10px;
    border-radius: 5px;
  }
  .header-nav_link:hover {
    color: var(--Primary);
    background-color: var(--Light);
  }
  .burger-menu {
    display: flex;
  }
}

@media (max-width: 600px) {
  .logo-link {
    width: 100px;
  }
}

@media (max-width: 470px) {
  .logo-link {
    width: 85px;
  }
}

@media (max-width: 370px) {
  .logo-link {
    width: 70px;
  }
}
